body {
    margin: 0;
    padding: 0;
}

kbd {
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #b4b4b4;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
  }
